.item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  background-color: #eee;
  overflow: hidden;
  border-radius: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.title {
  font-size: 1rem;
}

.visualization {
  font-size: 0.8rem;
  font-family: monospace;
  color: #888;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #777;
}
