.input,
.label {
  display: block;
  width: 100%;
}

.input {
  margin-bottom: 15px;
  padding: 10px 5px;
  border: 1px solid #000;
  border-radius: 3px;
}

.button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
