.photos {
  display: grid;
}

.listItems {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  justify-self: end;
  padding: 10px;
  border-radius: 50%;
  box-shadow: none;
  background-color: #000;
  color: #fff;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
